[submodule "Libraries/iRate"]
	path = Libraries/iRate
	url = https://ilTofa@github.com/nicklockwood/iRate.git
[submodule "Libraries/RaptureXML"]
	path = Libraries/RaptureXML
	url = https://ilTofa@github.com/ZaBlanc/RaptureXML.git
[submodule "Libraries/piwik"]
	path = Libraries/piwik
	url = https://ilTofa@github.com/piwik/piwik-sdk-ios.git
