
RP HD.xcodeproj/xcuserdata/gt.xcuserdatad/xcschemes/RP HD.xcscheme

RP HD.xcodeproj/xcuserdata/gt.xcuserdatad/xcschemes/xcschememanagement.plist

RP HD.xcodeproj/xcuserdata/gt.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store

*.xcuserstate

*.xcuserstate
piwikinfo.h
